<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>pork-belly</title>
</head>

<body>
    <main>
        <div class="container">
            <section>
                <h3 class="h3 text-center mb-5">서울의 삼겹살 가격 예측</h3>
                <div class="row wow fadeIn">
                    <div class="col-lg-6 col-md-12 px-4">

                        <form action="/" method="post">
                            <div class="form-group">
                                <label for="formGroupExampleInput">예측할 날짜</label>
                                <input type="text" name="date" class="form-control" id="formGroupExampleInput"
                                    placeholder="날짜를 입력하세요.">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">평균 온도</label>
                                <input type="text" name="avg_temp" class="form-control" id="formGroupExampleInput"
                                    placeholder="평균 온도를 입력하세요.">
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">최저 온도</label>
                                <input type="text" name="min_temp" class="form-control" id="formGroupExampleInput"
                                    placeholder="최저 온도를 입력하세요.">
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">최고 온도</label>
                                <input type="text" name="max_temp" class="form-control" id="formGroupExampleInput"
                                    placeholder="최고 온도를 입력하세요.">
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">강수량</label>
                                <input type="text" name="rain_fall" class="form-control" id="formGroupExampleInput"
                                    placeholder="강수량을 입력하세요.">
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">평균 풍속</label>
                                <input type="text" name="avg_wind" class="form-control" id="formGroupExampleInput"
                                    placeholder="평균 풍속을 입력하세요.">
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">평균 습도</label>
                                <input type="text" name="humidity" class="form-control" id="formGroupExampleInput"
                                    placeholder="평균 습도를 입력하세요.">
                            </div>
                            <button type="submit" class="btn btn-primary btn-md pull-right">예측하기</button>

                        </form>

                    </div>

                    <div class="col-lg-6 col-md-12">
                        <p class="h5 text-center mb-4">예측 결과</p>
                        {% if price %}
                        <h5 class="text-center mt-3">예측된 삼겹살 가격은 {{ price }}원입니다.</h5>
                        {% endif %}
                    </div>

                </div>

            </section>

        </div>
    </main>
</body>

</html>